
body {
    display: flex;
    justify-content: center;
    height: 100%;
}

.game-wrapper {
    height: 100%;
    aspect-ratio: 9/16;
}

.board {
    width: 100%;
}

.board__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr
}

.board__row_cells {
    display: grid;
}

.board_row_guess {
    aspect-ratio: 1/1;
    background-color: #FFFFFF;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
}

.board_row_guess p {
    display:flex;
    align-items: center;
    justify-content: center;
}


.board_row_background {
    aspect-ratio: 1/1;
    background-color: #AAAAAA;
    border-width: 1px;
    border-color: #AAAAAA;
    border-style: solid;
}

.board__row_score {
    border: 1px solid black;
}

.keyboard {
    padding-top: 2%;
    display:flex;
    flex-direction: column;
    width: 100%;
}

.keyboard__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.keyboard__row__key {
    font-family: arial;
    font-weight: bold;
    margin-top: 2px;
    border: 1px black solid;
    aspect-ratio: 6/6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

