body {
    display:flex;
    justify-content: center;
}

.mainArea {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.table {
    display: table;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
}
.unused {
    background-color: #AAAAAA;
    border-color: #AAAAAA;
}
.score {
    width: 100px;
}
.guess {
    width:200px;
}
.guess input {
    width: 100px;
}
.keyboard {
    display:flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    list-style: none;
    width: 500;
}
li.keyletter {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border: 2px solid #a9a9a9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

li.spacer {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border: 2px solid #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.theAnswer {
    height: 50px;
}
