
body {
    display: flex;
    justify-content: center;
    height: 100%;
}

.game-wrapper {
    height: 100%;
    aspect-ratio: 9/16;
}

.board {
    width: 100%;
}

.board__row {
    display:flex;
    flex-direction: row;
}

.board__row_cells {
    display: flex;
    flex-direction: row;
    flex-grow:2;
}

.board_row_guess {
    aspect-ratio: 1/1;
    background-color: #FFFFFF;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    flex-grow: 2;
}

.board_row_background {
    aspect-ratio: 1/1;
    background-color: #AAAAAA;
    border-width: 1px;
    border-color: #AAAAAA;
    border-style: solid;
    flex-grow: 2;
}

.board__row_score {
    border: 1px solid black;
    flex-grow:1;
}

.keyboard {
    padding-top: 2%;
    display:flex;
    flex-direction: column;
    width: 100%;
}

.keyboard__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.keyboard__row__key {
    border: 1px black solid;
    min-width: 14%;
    aspect-ratio: 1/1;
    text-align: center;
}

