#root {
    display: flex;
    justify-content: center;
    height: 100%;

}
.top_wrapper {
    height: 100%;
    display:flex;
    justify-content: center;
}

.game_wrapper {
    height: 100%;
    aspect-ratio: 9/16;
}

.board {
    width: 100%;
}

.board__row {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 5px;
}

.board__row_cells {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
}

.board_row_guess {
    aspect-ratio: 1/1;
    background-color: #FFFFFF;
    border-width: 1px;
    border-color: #AAAAAA;
    border-style: solid;
    display:flex;
    align-items: center;
    justify-content: center;
}

.board_row_guess p {
    font-family: Arial;
    font-size:  20pt;
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: center;
}


.board_row_background {
    aspect-ratio: 1/1;
    background-color: #AAAAAA;
    border-width: 1px;
    border-color: #AAAAAA;
    border-style: solid;
}

.board__row_score {
    border: 1px solid #AAAAAA;
    font-family: Arial;
    font-size:  20pt;
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: center;
}

.keyboard {
    padding-top: 2%;
    display:flex;
    flex-direction: column;
    width: 100%;
}

.keyboard__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.keyboard__row__key {
    font-family: arial;
    font-weight: bold;
    margin-top: 2px;
    border: 1px #AAAAAA solid;
    aspect-ratio: 6/6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.end_game_modal_backdrop {
    position: fixed;
    top: 0vh;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0,0,0,0.75);
}
.end_game_modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    font-family: arial;
    font-weight: bold;
    font-size:  28pt;
    color: white;
}

.note_tracker {
    height:100%;
}

.note_tracker_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left:10px;
}

.note_tracker_row_letter {
    font-family: Arial;
    font-size:  18;
}

.strikethrough {
    text-decoration: line-through;
    color: white;
}